<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
		 
	</head>
	<body ng-app="myApp">
		 <div ng-controller="mycontroller">
		 	<input type="" name="" id="" value="" ng-model="test"/>
		 	<button ng-click="click()">测试用例</button>
		 </div>
		<script type="text/javascript">
			angular.module('myApp', []).controller("mycontroller", function($scope) {
				 $scope.test=1111;
				 $scope.click=function(){
				 	alert($scope.test);
					alert("我是master分支上的修改");
				 }
			})
		</script>
	</body>

</html>